* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

#carouselExampleCaptions img {
    height: 85vh;
    object-fit: cover;
}

@media (max-width: 600px) {
    #carouselExampleCaptions img {
        height: 40vh;
        object-fit: fill;
    }

}

.left-div-deal {
    width: 30%;
    margin-left: 200px;
}

@media (max-width: 600px) {
    .left-div-deal {
        width: 100%;
        margin-left: 0px;
        padding: 20px;
    }
}

.brand-img {
    width: 160px;
    height: auto;
}


.carousel-control-prev {
    width: 50px;
    height: 50px;
    left: 1200px;
    top: 70vh;
}

.carousel-control-next {
    width: 50px;
    height: 50px;
    top: 70vh;
    right: 30px
}

.service {
    /* changes */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service {
    min-height: 400px;
}

@media (max-width: 768px) {
    .service {
        min-height: auto;
    }

}


.service img {
    width: 200px;
    height: 200px;
}

.deal-image {
    width: 100%;
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.deal-image img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: block;
}

.work {
    padding: 0 !important;
    margin: 0 !important;
}

.process-steps {
    padding: 0 !important;
    margin: 0 !important;

}

.left-div img {
    width: 100%;
    /* changes */
    /* height: 80%; */
    height: auto;
}

.right-div .process-steps {
    height: 80%;
}

@media (min-height: 600px) {
    .process-steps .step .text {
        writing-mode: vertical-rl;
        transform: rotate(360deg);
    }

    .cline-says {
        padding: 100px;
    }
}

@media (max-height: 600px) {
    .process-steps {
        display: flex;
        flex-direction: column;
    }

    .right-div .process-steps {
        height: 100%;
    }

    .cline-says {
        padding: 50px;
    }
}



.step {
    padding: 25px;
}

.number {
    font-weight: bold;
}

.text {
    font-weight: 500;
    color: gray;
}

.hero-img-text {
    font-size: 4.7rem;
}

.hero-img-subtext {
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    .hero-img-text {
        font-size: 16px;
    }

    .hero-img-subtext {
        font-size: 12px;
    }
}

.zoom-img {
    transition: transform 0.4s ease;
}

.zoom-img:hover {
    transform: scale(1.1);
}
