* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}

#carouselExampleCaptions img {
    height: 80vh;
    object-fit: cover;
}

.carousel-control-prev {
    width: 50px;
    height: 50px;
    left: 1350px;
    top: 70vh;
}
.carousel-control-next {
    width: 50px;
    height: 50px;
    top: 70vh;
    right: 30px
}

.service {
    /* changes */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service {
    min-height: 400px;
}
@media (max-width: 768px) {
    .service {
        min-height: auto;
    }
}


.service img {
    width: 200px;
    height: 200px;
}

.deal-image {
    width: 100%;
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.deal-image img {
    width: 100%;
    height: 50vh;
    object-fit:cover;
    display: block;
}

.work {
    padding: 0 !important;
    margin: 0 !important;
}
.process-steps {
    padding: 0 !important;
    margin: 0 !important;

}

.left-div img {
    width: 100%;
    /* changes */
    /* height: 80%; */
    height: auto;
}

.right-div .process-steps {
    height: 80%;
}

.process-steps .step .text {
    writing-mode: vertical-rl;
    transform: rotate(360deg);
}

.step {
    padding: 25px;
}

.number {
    font-weight: bold;
}

.text {
    font-weight: 500;
    color: gray;
}
